<html>

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h1 {
              text-align: center;
            }
        </style>



        <title>Covid-19 Database</title>

        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    </head>

    <h1> Covid-19 Database </h1>
    <body>
        <a href="http://127.0.0.1:8000/">Home Page</a><br>
        <a href="http://127.0.0.1:8000/world/">World Data</a><br>
        <a href="http://127.0.0.1:8000/india/">India Data</a><br>
        <a href="http://127.0.0.1:8000/states/">Indian States Data</a><br>

{% block page_content %}{% endblock %}

    </body>

</html>